---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Georgia", Helvetica, Arial, sans-serif;
$alt-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$light-font-weight: 900;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$large-font-size: 28px;

$spacing-unit:     30px;

// Kuler Colours


$shade2: #5f5f5f;
$shade3: #CD003A;
$shade4: #00A2D3;
$shade5: #333333;


$background-color: #ffffff;
$brand-color:      $shade3;
$adam-color:       $shade3;

$black-color: #000000;
$grey-color:       #413f44;
$grey-color-light: lighten($grey-color, 60%);
$grey-color-dark:  darken($grey-color, 25%);
$text-color:       $shade2;
$white-color: #FFFFFF;
$twitter-color: #1da1f2;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin button($colour) {
    font-family: $alt-font-family;
    background: $colour;
    color: $white-color;
    padding:7px 13px;
    border-radius: 3px;
    display:inline-block;

    &:hover {
        background: lighten($colour, 5%);
        color: $white-color;
    }
}


@mixin col()
{
    display: block;
    width: 49%;
    float: left;

    &.last {
        float: right;
    }

    @include media-query($on-palm) {
        width: 100%;
        margin-bottom: 5%;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "animate"
;
