---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$alt-font-family: 'Patua One', 'Helvetica', cursive;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$large-font-size: 28px;

$spacing-unit:     30px;


$background-color: #f8f7f3;
$brand-color:      #e2672a;
$adam-color:       #84BD93;

$grey-color:       #413f44;
$grey-color-light: lighten($grey-color, 60%);
$grey-color-dark:  darken($grey-color, 25%);
$text-color:       lighten($grey-color, 20%);
$black-color: #000000;
$white-color: #FFFFFF;
$twitter-color: #1da1f2;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin button($colour) {
    background: $colour;
    color: $white-color;
    padding:7px 13px;
    border-radius: 3px;
    display:inline-block;

    &:hover {
        background: lighten($colour, 5%);
        color: $white-color;
    }
}


@mixin col()
{
    display: block;
    width: 49%;
    float: left;

    &.last {
        float: right;
    }

    @include media-query($on-palm) {
        width: 100%;
        margin-bottom: 5%;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
