/**
 * Site header
 */

.site-header {
    min-height: 70px;
    background: $shade4;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.magento-fox {

}

.blog {

}

.hide {display: none }

.certifications {
    height:40px;
    max-height:40px;
    margin-left: 10px;
    margin-top: -10px;
}

.site-title {
    font-family: $alt-font-family;
    font-size: 26px;
    line-height: 70px;
    letter-spacing: -2px;
    margin-bottom: 0;
    text-transform: uppercase;
    color:$white-color;
    font-weight: 900;

    &:hover {
            color: darken($shade4, 20%);
        }
}

.site-nav {
    float: right;
    line-height: 70px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $white-color;
        line-height: $base-line-height;

        &:hover {
            color: darken($shade4, 20%);
        }

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 16px;
        right: $spacing-unit / 2;
        background-color: $shade4;
        border: 1px solid lighten($shade4, 10%);
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $white-color;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    text-align:center;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit+40 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    clear:both;
    margin-left: 0;
    list-style: none;

    > li {
        padding-bottom: $spacing-unit+10;
        margin-bottom: $spacing-unit;
        border-bottom: 1px solid $grey-color-light;

        &:last-child
        {
            border-bottom:0;
        }
    }
}

.post-meta {
    color: $black-color;
    font-family: $alt-font-family;
    font-size: $small-font-size;
    margin-bottom: 0;
    font-weight: bold;
}

.post-link {
    display: block;
    font-size: 24px;
    line-height: 28px;
}

.post-list-heading {
    margin-bottom:0px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.inline-icon {
    height: 25px;
    margin-top: -4px
}

.share-page {
    margin-top: 5px;

    a {
    display: inline-block;

    img {
        height: 25px;
        width: 25px;
    }
}
}


.reading-time {
    display: inline-block;
    line-height: 25px;
    margin: 0 0 0 5px;
    color: $black-color;
}

.post-title, .page-title {
    font-size: 32px;
    letter-spacing: -2px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 32px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    img {
        border: 1px solid $grey-color-light;
    }

    h2 {
        margin-top: 40px;
        font-size: 28px;

        @include media-query($on-laptop) {
            font-size: 24px;
        }
    }

    h3 {
        margin-top: 40px;
        font-size: 22px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    h4 {
        font-size: 18px;

        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }
}

/* Homepage */

.blog-link {
    background-color: $white-color;
    color: $grey-color;
    text-align: center;
    font-size: $large-font-size;
    padding: 5% 0;
    border: 1px solid $white-color;
    @include col();

    img {
        width: 181px;
        display: block;
        margin: 0 auto;
    }

    &:hover {
        border-color: $grey-color-light;
        color: $grey-color;
    }

    &.magentofox-link {
    }

    &.adam-link {
    }
}

.social-link {
    display: inline-block;
    height: 34px;

    img {
        height: 34px;
    }
}

.title-pic {
        display:block;
        float:right;
        max-height:200px;
    @include media-query($on-palm) {
        display:none;
    }

    &.left-margin {
        margin-left: 15px;
    }
}

.twitter-button {
    @include button($shade4);
    margin-bottom:55px;
    .icon {
        > svg {
            path {
                fill: $white-color;
            }
        }
    }
}


.icon--menu {
    > svg {
        path {
            fill: $white-color;
        }
    }
}

.icon--fox {
    > svg {
        path {
            fill: $brand-color;
        }
    }
}

.pag {
  padding-top: calc(var(--lh) / 2);
  text-align: center;
}

.pag__btn {
height: calc(var(--lh) * 1.5);
padding: 0 var(--lh);
color: #b1b1b1;
line-height: calc(var(--lh) * 1.5);
box-shadow: inset 0 0 0 1px var(--color-border);


&--prev {
  float: left;
}

&--next {
  float: right;
}

&:hover {
  color: var(--color1);
  text-decoration: none;
  box-shadow: inset 0 0 0 1px var(--color1);
}
}

.pag__now {
display: inline;
color: #b1b1b1;
font-size: var(--h5);
line-height: calc(var(--lh) * 1.5);
vertical-align: top;
}

.centre {
    text-align: center
}

.img-circle {
    border-radius: 50%;
}
