---
layout: default
title: Magento Fox Blog
heading: Magento Fox Blog
icon: icon-fox.svg
excerpt: Welcome to the Magento Fox Blog authored by Magento certified developer Adam Moss.
class: fox
in_menu: yes
nav: Magento Fox
body_class: magento-fox
---

<div class="home">
  <img src="/assets/magento-fox.png" alt="Magento Fox" class="title-pic" />
  <h1 class="page-heading page-title">{{ page.heading }}</h1>
  <p>Welcome to the Magento Fox blog written by 3x Certified Magento developer Adam Moss, Programme Lead at Space48 and formerly of Creare. I've been developing Magento websites since 2009 so I set up this blog to give something back to the community.</p>
  <a target="_blank" href="https://twitter.com/magentofox" class="twitter-button"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span> Follow Magento Fox</a>
  <ul class="post-list">
    {% for post in site.categories.magento %}
      <li>
        <h2 class="post-list-heading">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">Posted on {{ post.date | date: "%-d %B, %Y" }}</span>
      <p class="article__excerpt">{{ post.excerpt }}</p>
      <a href="{{ post.url | prepend: site.baseurl }}" class="button">Read Post</a>
      </li>
    {% endfor %}
  </ul>
</div>
