---
layout: default
title: Adam's Blog
heading: My Blog
icon: icon-vegan.svg
excerpt: The personal online blog of Adam Moss
class: blog
in_menu: yes
nav: My Blog
body_class: blog
---

<div class="home">

  <img src="/assets/adam.png" width="200" height="200" alt="Adam Moss" class="img-circle title-pic left-margin animated swing" />
  <h1 class="page-heading page-title">{{ page.heading }}</h1>
  <p>Hi and thanks for checking out my blog! When I'm not working with Magento I actually have a load of other interests of which I'll be dumping my thoughts (and mine alone) here. You can find me across the web:</p>
  <a href="https://github.com/adampmoss" target="_blank" class="social-link animated pulse"><img src="/assets/github.svg" alt="Github" /></a>
  <a href="https://500px.com/adampmoss" target="_blank" class="social-link animated pulse"><img src="/assets/500px.svg" alt="500px" /></a>
  <a href="https://twitter.com/adampmoss" target="_blank" class="social-link animated pulse"><img src="/assets/twitter.svg" alt="Twitter" /></a>
<p><br /><br /></p>
  <ul class="post-list">
    {% for post in site.categories.blog %}
      <li>
        <h2 class="post-list-heading">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">Posted on {{ post.date | date: "%-d %B, %Y" }}</span>
      <p class="article__excerpt">{{ post.excerpt }}</p>
      <a href="{{ post.url | prepend: site.baseurl }}" class="button">Read Post</a>
      </li>
    {% endfor %}
  </ul>
  {% if site.categories.blog == null %}
  <p>No posts yet!</p>
  {% endif %}
</div>
